$white: rgba(255, 255, 255, 1);
$grey: rgba(197, 200, 201, 1);
$green: rgba(82, 171, 144, 1);
$brown: rgba(87, 42, 29, 1);

$light-grey: tint($grey, 40);
$medium-green: shade($green, 7);
$dark-green: shade($green, 30);

$reset-isometry: translateZ(30px) rotateZ(45deg) rotateY(-1deg) rotateX(-60deg);
$default-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.2);

$width: 400px;
$height: 600px;