@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
}
div {
  @include base-size;
  margin: 0 auto;
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: $medium-green;
  box-shadow: isometric-shadow(1, 12, $dark-green),
    isometric-shadow(13, 40, $brown), -120px 120px 0 $grey;
  background-repeat: no-repeat;
  background-image: solid-color($white), solid-color($white),
    solid-color($white), solid-color($white), solid-color($white),
    solid-color($white), solid-color($medium-green), solid-color($medium-green),
    solid-color($white), solid-color($white), solid-color($white),
    solid-color($white), solid-color($white), solid-color($white),
    solid-color($white), radial-gradient(circle, $white 70%, transparent 70%),
    radial-gradient(circle, $medium-green 70%, transparent 70%),
    radial-gradient(circle, $white, $white 70%, transparent 70%),
    radial-gradient(circle, $medium-green 70%, transparent 70%),
    radial-gradient(circle, #fff 70%, transparent 70%),
    radial-gradient(circle, $medium-green 70%, transparent 70%),
    radial-gradient(circle, #fff 70%, transparent 70%), solid-color($green),
    solid-color($green), solid-color($green), solid-color($green),
    solid-color($green), solid-color($green);
  background-size: 4px 40px, 100px 4px, 4px 40px, 4px 40px, 100px 4px, 4px 40px,
    192px 100px, 192px 100px, 200px 4px, 200px 4px, 4px 100px, 4px 100px,
    4px 100px, 4px 100px, $width 4px, 20px 20px, 152px 152px, 160px 160px,
    112px 112px, 120px 120px, 112px 112px, 120px 120px, $width 50px, $width 50px,
    $width 50px, $width 50px, $width 50px, $width 50px;
  background-position: 150px bottom, 150px 560px, 246px bottom, 150px top,
    150px 40px, 246px top, 104px 0, 104px 504px, 100px 100px, 100px 500px,
    100px bottom, 296px bottom, 100px top, 296px top, left 295px, 190px 287px,
    124px 224px, 120px 220px, 144px 14px, 140px 10px, 144px 474px, 140px 470px,
    left 50px, left 150px, left 250px, left 350px, left 450px, left 550px;
  transform: rotateX(60deg) rotateY(1deg) rotateZ(-45deg);
  transform-style: preserve-3d;
}
div::after {
  content: "";
  @include base-size;
  padding: 30px;
  position: absolute;
  left: 10px;
  top: -10px;
  opacity: 0.7;
  border-top-right-radius: 40px;
  border-right: 10px solid $light-grey;
  border-top: 10px solid $light-grey;
  background-image: radial-gradient($dark-green 20%, transparent 5%),
    radial-gradient($dark-green 10%, transparent 5%);
  background-size: 10px 10px;
  background-position: 0 2px 5px;
  box-shadow: 10px -10px 0 10px $light-grey, 15px -15px 0 15px $grey,
    20px -20px 0 20px $light-grey, 25px -25px 0 25px $grey,
    30px -30px 0 30px $light-grey, 35px -35px 0 35px $grey,
    40px -40px 0 40px $light-grey, 45px -45px 0 45px $grey,
    50px -50px 0 50px $light-grey, 55px -55px 0 55px $grey,
    60px -60px 0 60px $light-grey, 65px -65px 0 65px $grey;
}
div::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 140px;
  top: 40px;
  border-radius: 100%;
  background-color: $light-grey;
  box-shadow: $default-shadow;
  animation-name: play;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes play {
  0% {
    transform: translateX(0px) translateY(0px) $reset-isometry;
  }
  1% {
    transform: translateX(9.9px) translateY(1.9px) $reset-isometry;
  }
  2% {
    transform: translateX(24.7px) translateY(8.6px) $reset-isometry;
  }
  4% {
    transform: translateX(42.5px) translateY(19.9px) $reset-isometry;
  }
  6% {
    transform: translateX(62.1px) translateY(35.4px) $reset-isometry;
  }
  9% {
    transform: translateX(82.8px) translateY(55px) $reset-isometry;
  }
  11% {
    transform: translateX(103.5px) translateY(78.4px) $reset-isometry;
  }
  15% {
    transform: translateX(123.3px) translateY(105.3px) $reset-isometry;
  }
  18% {
    transform: translateX(141.2px) translateY(135.4px) $reset-isometry;
  }
  21% {
    transform: translateX(156.3px) translateY(168.5px) $reset-isometry;
  }
  24% {
    transform: translateX(167.6px) translateY(204.3px) $reset-isometry;
  }
  28% {
    transform: translateX(174.3px) translateY(242.5px) $reset-isometry;
  }
  31% {
    transform: translateX(175.3px) translateY(282.9px) $reset-isometry;
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.2),
      0px 22px 0 -2px rgba(0, 0, 0, 0.05);
  }
  35% {
    transform: translateX(169.6px) translateY(325.3px) $reset-isometry;
  }
  39% {
    transform: translateX(156.4px) translateY(369.3px) $reset-isometry;
  }
  42% {
    transform: translateX(134.8px) translateY(414.6px) $reset-isometry;
  }
  46% {
    transform: translateX(120.4px) translateY(437.8px) $reset-isometry;
  }
  50% {
    transform: translateX(99px) translateY(467px) $reset-isometry;
    box-shadow: $default-shadow;
  }
  60% {
    transform: translateX(19px) translateY(487px) $reset-isometry;
  }
  80% {
    transform: translateX(-119px) translateY(287px) $reset-isometry;
  }
  100% {
    transform: translateX(0px) translateY(0px) $reset-isometry;
  }
}
